
* {
	text-align: center;
	font-family: Tahoma;
}

h1 {
	margin: 2rem;
}

img {
	border-radius: 2rem;
	padding: 1rem;
    transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
}

img:hover {
	cursor: pointer;
	transform: scale(1.2);
}