<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Galería De Fotos/Página No Encontrada</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='IMG/Logo.png') }}" type="image/x-icon">
</head>
<body>
	
	<h1>404</h1>
	<img src="{{ url_for('static', filename='IMG/Logo.png') }}">
	<h2><span>Página</span> No Encontrada</h2>
	<p><a href="{{ url_for('index') }}">Volver a la página principal</a></p>
	
</body>
</html>